.conteiner {
	position: relative;
}

.search {
	width: 480px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -240px;
}

.text-field {
	width: 300px;
	margin: 10px;
}

img {
	width: 270px;
	height: 270px;
}

li {
	margin: 10px;
	float: left;
}

.images {
	width: 930px;
	height: 330px;
	position: absolute;
	left: 50%;
	margin: 70px 0 0 -465px;
}